
<div class="bg-green-500 text-white p-4 rounded">
  Soy un componente con Tailwind
</div>


 <h1 class="text-4xl font-bold text-blue-600">
    ¡Hola, Tailwind en Astro! 🚀
  </h1>

  <h2 class="text-red-600 font-semibold mt-4">
    prueba de miguel
  </h2>